Flask==0.11.1
Flask-Login==0.3.2
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
PyMySQL==0.7.5
WTForms==2.1
Werkzeug==0.11.10
argparse==1.2.1
click==6.6
dateparser==0.4.0
feedparser==5.2.1
itsdangerous==0.24
jdatetime==1.8.1
pymongo==3.3.0
python-dateutil==2.5.3
pytz==2016.6.1
regex==2016.07.14
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.14
six==1.10.0
umalqurra==0.2
wsgiref==0.1.2
